//- meta情報
- var pageName='ArtSticker | UI Clip | UIデザインギャラリー';
- var pageDescription='優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「ArtSticker」ページです。';
- var pagekey='*****';
- var ogpName='ArtSticker | UI Clip | UIデザインギャラリー';
- var ogpDescription='優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「ArtSticker」ページです。';
- var ogpUrl='https://ui-clip.com/app/artsticker';
- var page = "artsticker"; //　ナビゲーションのカレントデザインを表示するためにページslugを入れる

doctype html
html(lang="ja")
  include ../include/_meta

  body
    include ../include/_header

    section.content
      .content__inner
          //-　APPコンテンツ
          .detail-contents
            //-　artstickerサービス情報
            .detail-contents__items
              dl.service-info
                dt
                  //-　アイコン
                  img(src="/assets/app/artsticker/icon-artsticker.svg")
                dd
                  //-　サービス名称
                  h2.service-info__name ArtSticker
                    //-　コピーライト,version
                    span.service-info__copy © The Chain Museum
                    span.service-info__version Version  6.12.0
              
              //-　サービス概要
              .detail-contents__overview
                p.overview-text 
                | ArtStickerは、現代アートの一連の鑑賞体験が楽しめる、アート・コミュニケーションプラットフォーム。著名作家から注目の若手作家の作品まで、数々のジャンルの作品を収録。
                br
                | 新たな作品やアーティストとの出会い、他のユーザーとのコミュニケーションをお楽しみください。

              .detail-contents__tag
                ul.tag-items 
                  li.tag-items__item 
                    .background-tag
                    span.item-text ライフスタイル

              ul.detail-contents__thumbnail
                - 
                  var list = [
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-01.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-02.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-03.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-04.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-05.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-06.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-07.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-08.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-09.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-10.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-11.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-12.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-13.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-14.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-15.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-16.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-17.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-18.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-19.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-20.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-21.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-22.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-23.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-24.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-25.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-26.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-27.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-28.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-29.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-30.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-31.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-32.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-33.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-34.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-35.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-36.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-37.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-38.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-39.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-40.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-41.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-42.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-43.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-44.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-45.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-46.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-47.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-48.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-49.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-50.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-51.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-52.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-53.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-54.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-55.png",
                    },
                    {
                      altName: "artsticker",
                      imgSrc: "/assets/app/artsticker/artsticker-56.png",
                    },
                  ]
                each item in list
                  li.contents-thumbnail
                    img(src=item.imgSrc alt=item.altName)

              .back-button
                a(href="/page2.html")
                  .back-button__background
                  .back-button__button 
                    p.back-button__text 一覧に戻る

          //-　AmazonBannerエリア
          include ../include/_TheBooksBanner
  
      //-　モーダルウィンドウ
      .modal
        .modal__inner
          .modal__close.is-modal-close
            img(src="/assets/common/icon-close.png" alt="close")
          .modal__list
          .modal__app-information
            dl.service-info
              dt
                img(src="/assets/app/artsticker/icon-artsticker.svg")
              dd
                  h2.service-info__name ArtSticker
                  span.service-info__copy © The Chain Museum

              .app-information__tags
                ul.app-information__tags-list
                  li.app-information__tags-list-item
                    span.list-item ライフスタイル  

    //- footer (SNS、コピーライト)
    //- script もfooterの中に記述 
    footer
      include ../include/_footer