doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「Booking.com」ページです。")
    meta(name="keywords", content="*****,*****,*****,*****,*****")
    meta(name="author", content="")
    meta(property="og:title", content="タイトル")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://任意のURL")
    meta(property="og:image", content="http://任意のURL/og_image.png")
    meta(property="og:site_name", content="")
    meta(property="og:description", content="優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「Booking.com」ページです。")
    meta(property="fb:app_id", content="任意のID")
    title Booking.com | UI Clip | UIデザインギャラリー
    link(rel='shortcut icon', href="../assets/common/favicon.png")
    link(rel='shortcut icon', href="../assets/common/apple-touch-icon.png")
    link(rel='shortcut icon', href="../assets/common/android-chrome-192x192.png")    
    link(rel='stylesheet', href="../css/font-style.css")
    link(rel='stylesheet', href="../css/style.css")
    link(rel='stylesheet', href="../css/slick.css")
    link(rel='stylesheet', href="../css/slick-theme.css")
    
    //- Googleアナリティクス
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-2P5TLC1NZG')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-2P5TLC1NZG');


  body
    //- script.
    //-   (window.jQuery || document .write('<script src="js/jquery-1.11.2.min.js"><\/script>'));
    
    //- header (ロゴ、ナビゲーション)
    header
      include ../include/_header

    section.content
      .content__inner
          //-　APPコンテンツ
          .detail-contents
            //-　bookingcomサービス情報
            .detail-contents__items
              dl.service-info
                dt
                  //-　アイコン
                  img(src="/assets/app/bookingcom/icon-bookingcom.svg")
                dd
                  //-　サービス名称
                  h2.service-info__name Booking.com
                    //-　コピーライト,version
                    span.service-info__copy © Booking.com B.V.
                    span.service-info__version Version  4.37.0
              
              //-　サービス概要
              .detail-contents__overview
                p.overview-text 
                | Booking.comで世界を旅しませんか？別荘、ホテル、フライト、レンタカー、タクシーに観光スポット・アクティビティまでおトクに予約可能。どんな予算でも理想の旅を計画できます。
                br
                | ホテルや旅館、別荘をお得に予約！多数のユーザーに高評価の旅行アプリをダウンロードすれば、休暇や小旅行、出張もお手のもの。世界中どこでも、あなたの目的にぴったりの宿が見つかります！

              .detail-contents__tag
                ul.tag-items 
                  li.tag-items__item 
                    .background-tag
                    span.item-text 旅行

              ul.detail-contents__thumbnail
                - 
                  var list = [
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-01.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-02.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-03.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-04.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-05.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-06.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-07.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-08.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-09.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-10.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-11.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-12.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-13.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-14.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-15.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-16.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-17.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-18.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-19.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-20.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-21.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-22.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-23.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-24.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-25.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-26.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-27.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-28.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-29.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-30.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-31.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-32.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-33.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-34.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-35.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-36.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-37.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-38.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-39.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-40.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-41.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-42.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-43.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-44.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-45.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-46.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-47.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-48.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-49.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-50.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-51.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-52.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-53.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-54.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-55.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-56.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-57.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-58.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-59.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-60.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-61.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-62.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-63.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-64.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-65.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-66.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-67.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-68.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-69.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-70.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-71.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-72.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-73.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-74.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-75.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-76.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-77.png",
                    },
                    {
                      altName: "bookingcom",
                      imgSrc: "/assets/app/bookingcom/bookingcom-78.png",
                    },
                  ]
                each item in list
                  li.contents-thumbnail.is-modal-open
                    img(src=item.imgSrc alt=item.altName)


              #modal.modal
                .modal-close.is-modal-close
                  img(src="/assets/common/icon-close.png" alt="close")
                .modal-content
                  .modal-content__inner
                    .modal-content__inner-slider.slick-modal
                      //- todo SPタップ時にモーダルが開いてしまうので、、、何らかの対策講じる
                      .modal-image 
                        img(src="/assets/app/bookingcom/bookingcom-01.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-02.png" alt="bookingcom")  
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-03.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-04.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-05.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-06.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-07.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-08.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-09.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-10.png" alt="bookingcom")
                      .modal-image 
                        img(src="/assets/app/bookingcom/bookingcom-11.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-12.png" alt="bookingcom")  
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-13.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-14.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-15.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-16.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-17.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-18.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-19.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-20.png" alt="bookingcom")
                      .modal-image 
                        img(src="/assets/app/bookingcom/bookingcom-21.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-22.png" alt="bookingcom")  
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-23.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-24.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-25.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-26.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-27.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-28.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-29.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-30.png" alt="bookingcom")
                      .modal-image 
                        img(src="/assets/app/bookingcom/bookingcom-31.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-32.png" alt="bookingcom")  
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-33.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-34.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-35.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-36.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-37.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-38.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-39.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-40.png" alt="bookingcom")
                      .modal-image 
                        img(src="/assets/app/bookingcom/bookingcom-41.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-42.png" alt="bookingcom")  
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-43.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-44.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-45.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-46.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-47.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-48.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-49.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-50.png" alt="bookingcom")
                      .modal-image 
                        img(src="/assets/app/bookingcom/bookingcom-51.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-52.png" alt="bookingcom")  
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-53.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-54.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-55.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-56.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-57.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-58.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-59.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-60.png" alt="bookingcom")
                      .modal-image 
                        img(src="/assets/app/bookingcom/bookingcom-61.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-62.png" alt="bookingcom")  
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-63.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-64.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-65.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-66.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-67.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-68.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-69.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-70.png" alt="bookingcom")
                      .modal-image 
                        img(src="/assets/app/bookingcom/bookingcom-71.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-72.png" alt="bookingcom")  
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-73.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-74.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-75.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-76.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-77.png" alt="bookingcom")
                      .modal-image
                        img(src="/assets/app/bookingcom/bookingcom-78.png" alt="bookingcom")  
                    .modal-content__inner-app-information
                      .app-information__service
                        dl.service-info
                          dt
                            //-　アイコン
                            img(src="/assets/app/bookingcom/icon-bookingcom.svg")
                          dd
                            //-　サービス名称
                            h2.service-info__name Booking.com
                            //-　コピーライト
                            span.service-info__copy © Booking.com B.V.
                            
                      .app-information__tags
                        ul.app-information__tags-list
                          li.app-information__tags-list-item
                            span.list-item 旅行

              .back-button
                a(href="/")
                  .back-button__background
                  .back-button__button 
                    p.back-button__text 一覧に戻る

          //-　AmazonBannerエリア
          include ../include/_TheBooksBanner


    //- footer (SNS、コピーライト)
    //- script もfooterの中に記述 
    footer
      include ../include/_footer