//- meta情報
- var pageName='出前館 | UI Clip | UIデザインギャラリー';
- var pageDescription='優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「出前館」ページです。';
- var pagekey='*****';
- var ogpName='出前館 | UI Clip | UIデザインギャラリー';
- var ogpDescription='優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「出前館」ページです。';
- var ogpUrl='https://ui-clip.com/app/demaecan';
- var page = "demaecan"; //　ナビゲーションのカレントデザインを表示するためにページslugを入れる
//- header (ロゴ、ナビゲーション)
header
  include ../include/_header

section.content
  .content__inner
      //-　APPコンテンツ
      .detail-contents
        //-　demaecanサービス情報
        .detail-contents__items
          dl.service-info
            dt
              //-　アイコン
              img(src="/assets/app/demaecan/icon-demaecan.svg")
            dd
              //-　サービス名称
              h2.service-info__name 出前館
                //-　コピーライト,version
                span.service-info__copy © DEMAE-CAN CO., LTD
                span.service-info__version Version  20.2.0
          
          //-　サービス概要
          .detail-contents__overview
            p.overview-text 
            | 出前・宅配・デリバリー「出前館」公式アプリ!
            br
            | 日本最大級の飲食店数！様々なジャンルの料理が楽しめます
            br
            | さらに、とってもお得な特典もついてくる
            br
            | 好きなお店の料理を選んで、豊富な支払方法で簡単注文！

          .detail-contents__tag
            ul.tag-items 
              li.tag-items__item 
                .background-tag
                span.item-text フード／ドリンク

          ul.detail-contents__thumbnail
            - 
              var list = [
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan1.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan2.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan3.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan4.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan5.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan6.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan7.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan8.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan9.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan10.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan11.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan12.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan13.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan14.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan15.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan16.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan17.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan18.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan19.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaeca20.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan21.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan22.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan23.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan24.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan25.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan26.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan27.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan28.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan29.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan30.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan31.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan32.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan33.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan34.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan35.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan36.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan37.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan38.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan39.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan40.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan41.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan42.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan43.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan44.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan45.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan46.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan47.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan48.webp",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/demaecan49.webp",
                },                                                                                                                 
              ]
            each item in list
              li.contents-thumbnail.is-modal-open
                img(src=item.imgSrc alt=item.altName)


          #modal.modal
            .modal-close.is-modal-close
              img(src="/assets/common/icon-close.png" alt="close")
            .modal-content
              .modal-content__inner
                .modal-content__inner-slider.slick-modal
                  //- todo SPタップ時にモーダルが開いてしまうので、、、何らかの対策講じる
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan1.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan2.webp" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan3.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan4.webp" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan5.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan6.webp" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan7.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan8.webp" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan9.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan10.webp" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan11.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan12.webp" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan13.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan14.webp" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan15.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan16.webp" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan17.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan18.webp" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan19.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan20.webp" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan31.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan32.webp" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan33.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan34.webp" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan35.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan36.webp" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan37.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan38.webp" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan39.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan40.webp" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan41.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan42.webp" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan43.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan44.webp" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan45.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan46.webp" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan47.webp" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/demaecan48.webp" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/demaecan49.webp" alt="demaecan")                        
                .modal-content__inner-app-information
                  .app-information__service
                    dl.service-info
                      dt
                        //-　アイコン
                        img(src="/assets/app/demaecan/icon-demaecan.svg")
                      dd
                        //-　サービス名称
                        h2.service-info__name 出前館
                        //-　コピーライト
                        span.service-info__copy © DEMAE-CAN CO., LTD
                        
                  .app-information__tags
                    ul.app-information__tags-list
                      li.app-information__tags-list-item
                        span.list-item フード／ドリンク

          .back-button
            a(href="/page3.html")
              .back-button__background
              .back-button__button 
                p.back-button__text 一覧に戻る

      //-　AmazonBannerエリア
      include ../include/_TheBooksBanner


//- footer (SNS、コピーライト)
//- script もfooterの中に記述 
footer
  include ../include/_footer