//- meta情報
- var pageName='出前館 | UI Clip | UIデザインギャラリー';
- var pageDescription='優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「出前館」ページです。';
- var pagekey='*****';
- var ogpName='出前館 | UI Clip | UIデザインギャラリー';
- var ogpDescription='優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「出前館」ページです。';
- var ogpUrl='https://ui-clip.com/demaecan';
- var page = "demaecan"; //　ナビゲーションのカレントデザインを表示するためにページslugを入れる
//- header (ロゴ、ナビゲーション)
header
  include ../include/_header

section.content
  .content__inner
      //-　APPコンテンツ
      .detail-contents
        //-　demaecanサービス情報
        .detail-contents__items
          dl.service-info
            dt
              //-　アイコン
              img(src="/assets/app/demaecan/icon-demaecan.svg")
            dd
              //-　サービス名称
              h2.service-info__name 出前館
                //-　コピーライト,version
                span.service-info__copy © DEMAE-CAN CO., LTD
                span.service-info__version Version  20.2.0
          
          //-　サービス概要
          .detail-contents__overview
            p.overview-text 
            | 出前・宅配・デリバリー「出前館」公式アプリ!
            br
            | 日本最大級の飲食店数！様々なジャンルの料理が楽しめます
            br
            | さらに、とってもお得な特典もついてくる
            br
            | 好きなお店の料理を選んで、豊富な支払方法で簡単注文！

          .detail-contents__tag
            ul.tag-items 
              li.tag-items__item 
                .background-tag
                span.item-text フード／ドリンク

          ul.detail-contents__thumbnail
            - 
              var list = [
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img01-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img02-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img03-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img04-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img05-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img06-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img07-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img08-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img09-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img10-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img11-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img12-demaecan@2x.png",
                },             
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img13-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img14-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img15-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img16-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img17-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img18-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img19-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img20-demaecan@2x.png",
                },       
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img21-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img22-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img23-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img24-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img25-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img26-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img27-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img28-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img29-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img30-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img31-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img32-demaecan@2x.png",
                },             
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img33-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img34-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img35-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img36-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img37-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img38-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img39-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img40-demaecan@2x.png",
                }, 
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img41-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img42-demaecan@2x.png",
                },             
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img43-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img44-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img45-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img46-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img47-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img48-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img49-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img50-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img51-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img52-demaecan@2x.png",
                },             
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img53-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img54-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img55-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img56-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img57-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img58-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img59-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img60-demaecan@2x.png",
                },       
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img61-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img62-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img63-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img64-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img65-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img66-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img67-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img68-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img69-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img70-demaecan@2x.png",
                },
                {
                  altName: "demaecan",
                  imgSrc: "/assets/app/demaecan/img71-demaecan@2x.png",
                },                                                                                                                 
              ]
            each item in list
              li.contents-thumbnail.is-modal-open
                img(src=item.imgSrc alt=item.altName)


          #modal.modal
            .modal-close.is-modal-close
              img(src="/assets/common/icon-close.png" alt="close")
            .modal-content
              .modal-content__inner
                .modal-content__inner-slider.slick-modal
                  //- todo SPタップ時にモーダルが開いてしまうので、、、何らかの対策講じる
                  .modal-image 
                    img(src="/assets/app/demaecan/img01-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img02-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img03-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img04-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img05-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img06-demaecan@2x.png" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/img07-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img08-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img09-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img10-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img11-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img12-demaecan@2x.png" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/img13-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img14-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img15-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img16-demaecan@2x.png" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/img17-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img18-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img19-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img20-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img21-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img22-demaecan@2x.png" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/img23-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img24-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img25-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img26-demaecan@2x.png" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/img27-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img28-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img29-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img30-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img31-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img32-demaecan@2x.png" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/img33-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img34-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img35-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img36-demaecan@2x.png" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/img37-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img38-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img39-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img40-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img41-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img42-demaecan@2x.png" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/img43-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img44-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img45-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img46-demaecan@2x.png" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/img47-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img48-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img49-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img50-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img51-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img52-demaecan@2x.png" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/img53-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img54-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img55-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img56-demaecan@2x.png" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/img57-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img58-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img59-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img60-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img61-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img62-demaecan@2x.png" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/img63-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img64-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img65-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img66-demaecan@2x.png" alt="demaecan")               
                  .modal-image 
                    img(src="/assets/app/demaecan/img67-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img68-demaecan@2x.png" alt="demaecan")
                  .modal-image 
                    img(src="/assets/app/demaecan/img69-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img70-demaecan@2x.png" alt="demaecan")
                  .modal-image
                    img(src="/assets/app/demaecan/img71-demaecan@2x.png" alt="demaecan")                        
                .modal-content__inner-app-information
                  .app-information__service
                    dl.service-info
                      dt
                        //-　アイコン
                        img(src="/assets/app/demaecan/icon-demaecan.svg")
                      dd
                        //-　サービス名称
                        h2.service-info__name 出前館
                        //-　コピーライト
                        span.service-info__copy © DEMAE-CAN CO., LTD
                        
                  .app-information__tags
                    ul.app-information__tags-list
                      li.app-information__tags-list-item
                        span.list-item フード／ドリンク

          .back-button
            a(href="/")
              .back-button__background
              .back-button__button 
                p.back-button__text 一覧に戻る

      //-　AmazonBannerエリア
      include ../include/_TheBooksBanner


//- footer (SNS、コピーライト)
//- script もfooterの中に記述 
footer
  include ../include/_footer