.footer-inner
    ul.icon-area
      li.icon-area__item
        a.icon-area__item-link(href="https://twitter.com/uiclip" target="_blank" rel="noopener noreferrer")
          .background-icon
          img.icon-twitter(src="/assets/common/icon-twitter.svg" alt="twitter")
      li.icon-area__item
        a.icon-area__item-link(href="https://www.facebook.com/uiclip" target="_blank" rel="noopener noreferrer")
          .background-icon
          img.icon-facebook(src="/assets/common/icon-facebook.svg" alt="facebook")
      li.icon-area__item
        a.icon-area__item-link(href="https://note.com/ui_clip" target="_blank" rel="noopener noreferrer")
          .background-icon
          img.icon-rss(src="/assets/common/icon-note.svg" alt="note")
      li.icon-area__item
        a(href="https://www.buymeacoffee.com/uiclip" target="_blank" rel="noopener noreferrer")
          img.icon-coffee(src="/assets/common/banner-coffee.svg" alt="buy me a coffee")

    .footer-navigation
      ul.footer-navigation__links
        li.footer-navigation__link-text
          a.link-text(href="/policy/")
            span.link-text__text  プライバシーポリシー
          span.link-text  
        li.footer-navigation__link-text
          a.link-text(href="/disclaimer/")
            span.link-text__text  免責事項
        li.footer-navigation__link-text
          a.link-text(href="https://ui-clip.com/blog/contact/" target="_blank" rel="noopener noreferrer")
            span.link-text__text  お問い合わせ

    .copyright
      p.copyright__text &copy; UI Clip

script(src="https://code.jquery.com/jquery-3.6.0.min.js")
script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
script(src="/js/scripts.js")


//- script(src="js/pagination.js")