//-　AmazonBannerエリア
.advertisement-area 
  .advertisement-area__add-book
    //- .book-title
    .book-header
      p.book-header__title Books
      p.book-header__link
        a.book-header__link-link(href="/books") View All
    .book-banner.slick-add
      //- li.book-banner__item ddd
      - 
        var list = [
          {
            altName: "アイデアのつくり方",
            imgSrc: "/assets/books/item-books-01@2x.jpg",
            text: "アイデアのつくり方",
            link: "https://www.amazon.co.jp/%E3%82%A2%E3%82%A4%E3%83%87%E3%82%A2%E3%81%AE%E3%81%A4%E3%81%8F%E3%82%8A%E6%96%B9-%E3%82%B8%E3%82%A7%E3%83%BC%E3%83%A0%E3%82%B9-W-%E3%83%A4%E3%83%B3%E3%82%B0/dp/4484881047/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=1EOB6FNNIVRIE&keywords=%E3%82%A2%E3%82%A4%E3%83%87%E3%82%A2%E3%81%AE%E3%81%A4%E3%81%8F%E3%82%8A%E6%96%B9&qid=1663919683&sprefix=becoming+steve+jobs%2Caps%2C777&sr=8-1",
          },
          {
            altName: "ウェブデザインの思考法BusinessDesignIT",
            imgSrc: "/assets/books/item-books-02@2x.jpg",
            text: "ウェブデザインの思考法 (Business×Design×IT) ",
            link: "https://www.amazon.co.jp/%E3%82%A6%E3%82%A7%E3%83%96%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%80%9D%E8%80%83%E6%B3%95-Business%C3%97Design%C3%97-%E9%87%91-%E6%88%90%E5%A5%8E/dp/4839966907/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=10KJRXG4KTHQZ&keywords=%E3%82%A6%E3%82%A7%E3%83%96%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%80%9D%E8%80%83%E6%B3%95+%28Business%C3%97Design%C3%97IT%29&qid=1663919776&sprefix=%E3%82%A6%E3%82%A7%E3%83%96%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%80%9D%E8%80%83%E6%B3%95+business+design+it+%2Caps%2C214&sr=8-1",
          },
          {
            altName: "オンスクリーンタイポグラフィ事例と論説から考えるウェブの文字表現",
            imgSrc: "/assets/books/item-books-03@2x.jpg",
            text: "オンスクリーンタイポグラフィ 事例と論説から考えるウェブの文字表現",
            link: "https://www.amazon.co.jp/%E3%82%AA%E3%83%B3%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3-%E3%82%BF%E3%82%A4%E3%83%9D%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3-%E4%BA%8B%E4%BE%8B%E3%81%A8%E8%AB%96%E8%AA%AC%E3%81%8B%E3%82%89%E8%80%83%E3%81%88%E3%82%8B%E3%82%A6%E3%82%A7%E3%83%96%E3%81%AE%E6%96%87%E5%AD%97%E8%A1%A8%E7%8F%BE-%E4%BC%8A%E8%97%A4%E5%BA%84%E5%B9%B3/dp/4802512074/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=C64OYEYWI8BU&keywords=%E3%82%AA%E3%83%B3%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%BF%E3%82%A4%E3%83%9D%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3+%E4%BA%8B%E4%BE%8B%E3%81%A8%E8%AB%96%E8%AA%AC%E3%81%8B%E3%82%89%E8%80%83%E3%81%88%E3%82%8B%E3%82%A6%E3%82%A7%E3%83%96%E3%81%AE%E6%96%87%E5%AD%97%E8%A1%A8%E7%8F%BE&qid=1663919812&sprefix=%E3%82%A6%E3%82%A7%E3%83%96%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%80%9D%E8%80%83%E6%B3%95+business+design+it+%2Caps%2C285&sr=8-1",
          },
          {
            altName: "欧文書体その背景と使い方",
            imgSrc: "/assets/books/item-books-04@2x.jpg",
            text: "欧文書体―その背景と使い方",
            link: "https://www.amazon.co.jp/%E6%AC%A7%E6%96%87%E6%9B%B8%E4%BD%93%E2%80%95%E3%81%9D%E3%81%AE%E8%83%8C%E6%99%AF%E3%81%A8%E4%BD%BF%E3%81%84%E6%96%B9-%E6%96%B0%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%82%AC%E3%82%A4%E3%83%89-%E5%B0%8F%E6%9E%97-%E7%AB%A0/dp/4568502772/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=343K6BXW7AGT0&keywords=%E6%AC%A7%E6%96%87%E6%9B%B8%E4%BD%93%E2%80%95%E3%81%9D%E3%81%AE%E8%83%8C%E6%99%AF%E3%81%A8%E4%BD%BF%E3%81%84%E6%96%B9&qid=1663919945&sprefix=%E6%AC%A7%E6%96%87%E6%9B%B8%E4%BD%93+%E3%81%9D%E3%81%AE%E8%83%8C%E6%99%AF%E3%81%A8%E4%BD%BF%E3%81%84%E6%96%B9%2Caps%2C308&sr=8-1",
          },
          {
            altName: "ディテールインタイポグラフィ読みやすい欧文組版のための基礎知識と考え方",
            imgSrc: "/assets/books/item-books-05@2x.jpg",
            text: "ディテール・イン・タイポグラフィ 読みやすい欧文組版のための基礎知識と考え方",
            link: "https://www.amazon.co.jp/%E3%83%87%E3%82%A3%E3%83%86%E3%83%BC%E3%83%AB%E3%83%BB%E3%82%A4%E3%83%B3%E3%83%BB%E3%82%BF%E3%82%A4%E3%83%9D%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3-%E8%AA%AD%E3%81%BF%E3%82%84%E3%81%99%E3%81%84%E6%AC%A7%E6%96%87%E7%B5%84%E7%89%88%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E5%9F%BA%E7%A4%8E%E7%9F%A5%E8%AD%98%E3%81%A8%E8%80%83%E3%81%88%E6%96%B9-%E3%83%A8%E3%83%BC%E3%82%B9%E3%83%88%E3%83%BB%E3%83%9B%E3%83%95%E3%83%AA/dp/477387001X/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=3HIJRAJZS6L0Z&keywords=%E3%83%87%E3%82%A3%E3%83%86%E3%83%BC%E3%83%AB%E3%83%BB%E3%82%A4%E3%83%B3%E3%83%BB%E3%82%BF%E3%82%A4%E3%83%9D%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3+%E8%AA%AD%E3%81%BF%E3%82%84%E3%81%99%E3%81%84%E6%AC%A7%E6%96%87%E7%B5%84%E7%89%88%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E5%9F%BA%E7%A4%8E%E7%9F%A5%E8%AD%98%E3%81%A8%E8%80%83%E3%81%88%E6%96%B9&qid=1663920032&sprefix=%E3%83%87%E3%82%A3%E3%83%86%E3%83%BC%E3%83%AB+%E3%82%A4%E3%83%B3+%E3%82%BF%E3%82%A4%E3%83%9D%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3+%E8%AA%AD%E3%81%BF%E3%82%84%E3%81%99%E3%81%84%E6%AC%A7%E6%96%87%E7%B5%84%E7%89%88%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E5%9F%BA%E7%A4%8E%E7%9F%A5%E8%AD%98%E3%81%A8%E8%80%83%E3%81%88%E6%96%B9%2Caps%2C206&sr=8-1",
          },
          {
            altName: "UXデザインの教科書",
            imgSrc: "/assets/books/item-books-06@2x.jpg",
            text: "UXデザインの教科書",
            link: "https://www.amazon.co.jp/UX%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%95%99%E7%A7%91%E6%9B%B8-%E5%AE%89%E8%97%A4-%E6%98%8C%E4%B9%9F/dp/4621300377/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=27XNJLVGN0UH&keywords=UX%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%95%99%E7%A7%91%E6%9B%B8&qid=1663920082&sprefix=ux%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%95%99%E7%A7%91%E6%9B%B8%2Caps%2C163&sr=8-1m",
          },
          {
            altName: "融けるデザインハードソフトネット時代の新たな設計論",
            imgSrc: "/assets/books/item-books-07@2x.jpg",
            text: "融けるデザイン ―ハード×ソフト×ネット時代の新たな設計論",
            link: "https://www.amazon.co.jp/%E8%9E%8D%E3%81%91%E3%82%8B%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3-%E2%80%95%E3%83%8F%E3%83%BC%E3%83%89%C3%97%E3%82%BD%E3%83%95%E3%83%88%C3%97%E3%83%8D%E3%83%83%E3%83%88%E6%99%82%E4%BB%A3%E3%81%AE%E6%96%B0%E3%81%9F%E3%81%AA%E8%A8%AD%E8%A8%88%E8%AB%96-%E6%B8%A1%E9%82%8A%E6%81%B5%E5%A4%AA/dp/4861009383/ref=sr_1_1?keywords=%E8%9E%8D%E3%81%91%E3%82%8B%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3+%E3%83%8F%E3%83%BC%E3%83%89+%E3%82%BD%E3%83%95%E3%83%88+%E3%83%8D%E3%83%83%E3%83%88%E6%99%82%E4%BB%A3%E3%81%AE%E6%96%B0%E3%81%9F%E3%81%AA%E8%A8%AD%E8%A8%88%E8%AB%96&qid=1663920921&sprefix=%E8%9E%8D%E3%81%91%E3%82%8B%2Caps%2C224&sr=8-1",
          },
          {
            altName: "はじめてのUIデザイン改訂版",
            imgSrc: "/assets/books/item-books-08@2x.jpg",
            text: "はじめてのUIデザイン 改訂版",
            link: "https://www.amazon.co.jp/%E3%81%AF%E3%81%98%E3%82%81%E3%81%A6%E3%81%AEUI%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3-%E6%94%B9%E8%A8%82%E7%89%88-%E6%B1%A0%E7%94%B0-%E6%8B%93%E5%8F%B8-ebook/dp/B087BMJ1Q6/ref=sr_1_1?keywords=%E3%81%AF%E3%81%98%E3%82%81%E3%81%A6%E3%81%AEui%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3&qid=1663920600&sprefix=%E3%81%AF%E3%81%98%E3%82%81%E3%81%A6%E3%81%AEUI%2Caps%2C254&sr=8-1",
          },     
        {
            altName: "UIデザインの教科書新版マルチデバイス時代のインターフェース設計",
            imgSrc: "/assets/books/item-books-09@2x.jpg",
            text: "UIデザインの教科書［新版］ マルチデバイス時代のインターフェース設計 ",
            link: "https://www.amazon.co.jp/UI%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%95%99%E7%A7%91%E6%9B%B8%EF%BC%BB%E6%96%B0%E7%89%88%EF%BC%BD-%E3%83%9E%E3%83%AB%E3%83%81%E3%83%87%E3%83%90%E3%82%A4%E3%82%B9%E6%99%82%E4%BB%A3%E3%81%AE%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%95%E3%82%A7%E3%83%BC%E3%82%B9%E8%A8%AD%E8%A8%88-%E5%8E%9F%E7%94%B0-%E7%A7%80%E5%8F%B8/dp/4798155454/ref=sr_1_1?crid=23EJM1OJOFKI&keywords=ui%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%95%99%E7%A7%91%E6%9B%B8&qid=1663920686&sprefix=ui%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%2Caps%2C256&sr=8-1",
          },     
        {
            altName: "新版UIGRAPHICS成功事例と思想から学ぶこれからのインターフェイスデザインとUX",
            imgSrc: "/assets/books/item-books-10@2x.jpg",
            text: "【新版】UI GRAPHICS 成功事例と思想から学ぶ、これからのインターフェイスデザインとUX",
            link: "https://www.amazon.co.jp/%E3%80%90%E6%96%B0%E7%89%88%E3%80%91UI-GRAPHICS-%E6%88%90%E5%8A%9F%E4%BA%8B%E4%BE%8B%E3%81%A8%E6%80%9D%E6%83%B3%E3%81%8B%E3%82%89%E5%AD%A6%E3%81%B6%E3%80%81%E3%81%93%E3%82%8C%E3%81%8B%E3%82%89%E3%81%AE%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%95%E3%82%A7%E3%82%A4%E3%82%B9%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%A8UX-%E5%AE%89%E8%97%A4%E5%89%9B/dp/4802511051/ref=sr_1_1?keywords=ui+graphics&qid=1663921173&sprefix=UI+gra%2Caps%2C213&sr=8-1",
          },                                                                                                                                                                                                                    
        ]
      each item in list
        //- .book-banner__item
        a.book-banner__link(href=item.link target="_blank")
          img.book-banner__image(src=item.imgSrc alt=item.altName loading="lazy")
          p.book-banner__text #{item.text}

  //- 広告バナーはこれから追加するので現時点で非表示にする
  //- .advertisement-area__banner
  //-   img.banner-add(src="/assets/common/add/banner-add-adobe.png" alt="広告")
