//-　AmazonBannerエリア
.advertisement-area 
  .advertisement-area__add-book
    //- .book-title
    .book-header
      p.book-header__title Books
      p.book-header__link
        a.book-header__link-link(href="/books") View All
    .book-banner.slick-add
      //- li.book-banner__item ddd
      - 
        var list = [
          {
            altName: "アイデアのつくり方",
            imgSrc: "/assets/books/item-books-01@2x.jpg",
            text: "アイデアのつくり方",
            link: "https://amzn.to/3UTcz0B",
          },
          {
            altName: "ウェブデザインの思考法BusinessDesignIT",
            imgSrc: "/assets/books/item-books-02@2x.jpg",
            text: "ウェブデザインの思考法 (Business×Design×IT) ",
            link: "https://amzn.to/3C0Rj0h",
          },
          {
            altName: "オンスクリーンタイポグラフィ事例と論説から考えるウェブの文字表現",
            imgSrc: "/assets/books/item-books-03@2x.jpg",
            text: "オンスクリーンタイポグラフィ 事例と論説から考えるウェブの文字表現",
            link: "https://amzn.to/3dUpxdY",
          },
          {
            altName: "欧文書体その背景と使い方",
            imgSrc: "/assets/books/item-books-04@2x.jpg",
            text: "欧文書体―その背景と使い方",
            link: "https://amzn.to/3y20Lzx",
          },
          {
            altName: "ディテールインタイポグラフィ読みやすい欧文組版のための基礎知識と考え方",
            imgSrc: "/assets/books/item-books-05@2x.jpg",
            text: "ディテール・イン・タイポグラフィ 読みやすい欧文組版のための基礎知識と考え方",
            link: "https://amzn.to/3UMG2tj",
          },
          {
            altName: "UXデザインの教科書",
            imgSrc: "/assets/books/item-books-06@2x.jpg",
            text: "UXデザインの教科書",
            link: "https://amzn.to/3C1u72b",
          },
          {
            altName: "融けるデザインハードソフトネット時代の新たな設計論",
            imgSrc: "/assets/books/item-books-07@2x.jpg",
            text: "融けるデザイン ―ハード×ソフト×ネット時代の新たな設計論",
            link: "https://amzn.to/3RqfUBC",
          },
          {
            altName: "はじめてのUIデザイン改訂版",
            imgSrc: "/assets/books/item-books-08@2x.jpg",
            text: "はじめてのUIデザイン 改訂版",
            link: "https://amzn.to/3E7w9QV",
          },     
        {
            altName: "UIデザインの教科書新版マルチデバイス時代のインターフェース設計",
            imgSrc: "/assets/books/item-books-09@2x.jpg",
            text: "UIデザインの教科書［新版］ マルチデバイス時代のインターフェース設計 ",
            link: "https://amzn.to/3E7wsv3",
          },     
        {
            altName: "新版UIGRAPHICS成功事例と思想から学ぶこれからのインターフェイスデザインとUX",
            imgSrc: "/assets/books/item-books-10@2x.jpg",
            text: "【新版】UI GRAPHICS 成功事例と思想から学ぶ、これからのインターフェイスデザインとUX",
            link: "https://amzn.to/3Sw2QvK",
          },                                                                                                                                                                                                                    
        ]
      each item in list
        //- .book-banner__item
        a.book-banner__link(href=item.link target="_blank")
          img.book-banner__image(src=item.imgSrc alt=item.altName loading="lazy")
          p.book-banner__text #{item.text}

  //- 広告バナーはこれから追加するので現時点で非表示にする
  //- .advertisement-area__banner
  //-   img.banner-add(src="/assets/common/add/banner-add-adobe.png" alt="広告")
