//- meta情報
- var pageName='About | UI Clip | UIデザインギャラリー';
- var pageDescription='優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「About」ページです。';
- var pagekey='*****';
- var ogpName='About | UI Clip | UIデザインギャラリー';
- var ogpDescription='優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「About」ページです。';
- var ogpUrl='https://ui-clip.com/about';
- var page = "about"; //　ナビゲーションのカレントデザインを表示するためにページslugを入れる

header
  include ../include/_header
        
section.content
  .content__inner
    .about-content
      h2.about-content__heading About
      p UI Clipは、優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイトです。
        <br /> 国内外を問わず、Web・アプリ制作の参考となるサイト・アプリをセレクトしています。
        <br /> ブログ（UI Clip Magazine）では、UI/UXの事例、デザインやテクノロジーに関するナレッジ・ノウハウを紹介しています。
      </p>
      <ul class="about-content__buttons">
        <li class="about-content__button">
          <div class="background-button"></div><a class="button-link" href="https://ui-clip.com/blog/" target="_blank" rel="noopener noreferrer"><span class="button-text">UI Clip Magazine   </span></a>
        </li><br />
      </ul>
      <p>当サイト以外にも Twitter、facebook、noteで情報を発信しています。</p>
      
      ul.about-content__buttons
        li.about-content__button
          .background-button
          a.button-link(href="https://twitter.com/uiclip" target="_blank" rel="noopener noreferrer")
            img.button-image(src="/assets/common/icon-twitter.svg" alt="Twitter")               
            span.button-text Twitter 
        li.about-content__button
          .background-button
          a.button-link(href="https://www.facebook.com/uiclip" target="_blank" rel="noopener noreferrer")
            img.button-image(src="/assets/common/icon-facebook.svg" alt="facebook") 
            span.button-text Facebook
        li.about-content__button
          .background-button
          a.button-link(href="https://note.com/ui_clip" target="_blank" rel="noopener noreferrer")
            img.button-image(src="/assets/common/icon-note.svg" alt="note") 
            span.button-text note            

      h3.about-content__heading-policy プライバシーポリシー／免責事項
      p プライバシーポリシーは、
        a(href="/policy/index.html") こちらをご覧ください。
        <br /> 免責事項は、
        a(href="/disclaimer/index.html") こちらをご覧ください。
      br
      br
      br
      h3.about-content__heading-policy お問い合わせ
      p 当サイトに関するお問い合わせは、
        a(href="https://ui-clip.com/blog/contact/" target="_blank" rel="noopener noreferrer") こちら。

//- Googleアドセンス
center
script(async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6235916185768986' crossorigin='anonymous')
// 横長
ins.adsbygoogle(style='display:inline-block;width:728px;height:90px' data-ad-client='ca-pub-6235916185768986' data-ad-slot='5420764018')
script.
  (adsbygoogle = window.adsbygoogle || []).push({});

//- footer (SNS、コピーライト)
//- script もfooterの中に記述 
footer
  include ../include/_footer