doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「Books」ページです。")
    meta(name="keywords", content="*****,*****,*****,*****,*****")
    meta(name="author", content="")
    meta(property="og:title", content="タイトル")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://任意のURL")
    meta(property="og:image", content="http://任意のURL/og_image.png")
    meta(property="og:site_name", content="")
    meta(property="og:description", content="優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「Books」ページです。")
    meta(property="fb:app_id", content="任意のID")
    title Books | UI Clip | UIデザインギャラリー
    link(rel='shortcut icon', href="../assets/common/favicon.png")
    link(rel='shortcut icon', href="../assets/common/apple-touch-icon.png")
    link(rel='shortcut icon', href="../assets/common/android-chrome-192x192.png")    
    link(rel='stylesheet', href="../css/font-style.css")
    link(rel='stylesheet', href="../css/style.css")
    link(rel='stylesheet', href="../css/slick.css")
    link(rel='stylesheet', href="../css/slick-theme.css")
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXXXXX-Y', 'example.com');
      ga('send', 'pageview');
  body
    //- script.
    //-   (window.jQuery || document .write('<script src="js/jquery-1.11.2.min.js"><\/script>'));
    
    //- header (ロゴ、ナビゲーション)
    - var page = "books";
    header
      include ../include/_header
               
    section.content
      .content__inner
        .books-content
          h2.books-content__heading Books

          .books-content__books
            ul.books-content__books-list
              -
                var list = [
                  {
                    link: 'https://google.com',
                    image: '/assets/books/item-books-01@2x.jpg',
                    alt: 'books01',
                    text: 'アイデアのつくり方'
                  },
                  {
                    link: 'https://google.com',
                    image: '/assets/books/item-books-02@2x.jpg',
                    alt: 'books01',
                    text: 'ウェブデザインの思考法 (Business×Design×IT) '
                  },
                  {
                    link: 'https://google.com',
                    image: '/assets/books/item-books-03@2x.jpg',
                    alt: 'books02',
                    text: 'オンスクリーンタイポグラフィ 事例と論説から考えるウェブの文字表現'
                  },
                  {
                    link: 'https://google.com',
                    image: '/assets/books/item-books-04@2x.jpg',
                    alt: 'books03',
                    text: '欧文書体―その背景と使い方'
                  },                  
                  {
                    link: 'https://google.com',
                    image: '/assets/books/item-books-05@2x.jpg',
                    alt: 'books04',
                    text: 'ディテール・イン・タイポグラフィ 読みやすい欧文組版のための基礎知識と考え方'
                  },                  
                  {
                    link: 'https://google.com',
                    image: '/assets/books/item-books-06@2x.jpg',
                    alt: 'books01',
                    text: 'UXデザインの教科書'
                  },                  

                ]
              each item in list
                li.books-content__books-list-items
                  a.book-link(href=item.link target="_blank")
                    img.book-link__image(src=item.image alt="item.alt")
                    p.book-link__text #{item.text}

          //-　Bannerエリア
          //- .advertisement-area__banner
          //-   img.banner-add(src="/assets/common/add/banner-add-adobe.png" alt="広告")
          
    //- ページネーション
    .pagination
      .pagination__end
        a.pagination__link(href="")
          .pagination__back-ground
            img.pagination__image(src="/assets/common/icon-goto-first.svg" alt="一番前に戻る")
          
      .pagination__inside
        a.pagination__link(href="") 
          img.pagination__inside-image.is-back(src="/assets/common/icon-arrow.svg" alt="一番前に戻る")
          p.pagination__text 前へ

      .pagination__inside.is-next
        a.pagination__link(href="")
          p.pagination__text 次へ
          img.pagination__inside-image(src="/assets/common/icon-arrow.svg" alt="一番前に戻る")
          

      .pagination__end
        a.pagination__link(href="")
          .pagination__back-ground
            img.pagination__image.is-last-arrow(src="/assets/common/icon-goto-first.svg" alt="一番後ろに行く")          

    //- footer (SNS、コピーライト)
    //- script もfooterの中に記述 
    footer
      include ../include/_footer