//- meta情報
- var pageName='Books | UI Clip | UIデザインギャラリー';
- var pageDescription='優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「Books」ページです。';
- var pagekey='*****';
- var ogpName='Books | UI Clip | UIデザインギャラリー';
- var ogpDescription='優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「Books」ページです。';
- var ogpUrl='https://ui-clip.com/books';
- var page = "books"; //　ナビゲーションのカレントデザインを表示するためにページslugを入れる


doctype html
html(lang="ja")
  include ../include/_meta

  body
    include ../include/_header

    section.content
      .content__inner
        .books-content
          h2.books-content__heading Books

          .books-content__books
            ul.books-content__books-list
              -
                var list = [
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E3%2582%25A2%25E3%2582%25A4%25E3%2583%2587%25E3%2582%25A2%25E3%2581%25AE%25E3%2581%25A4%25E3%2581%258F%25E3%2582%258A%25E6%2596%25B9-%25E3%2582%25B8%25E3%2582%25A7%25E3%2583%25BC%25E3%2583%25A0%25E3%2582%25B9-W-%25E3%2583%25A4%25E3%2583%25B3%25E3%2582%25B0%2Fdp%2F4484881047%3F__mk_ja_JP%3D%25E3%2582%25AB%25E3%2582%25BF%25E3%2582%25AB%25E3%2583%258A%26crid%3D1EOB6FNNIVRIE%26keywords%3D%25E3%2582%25A2%25E3%2582%25A4%25E3%2583%2587%25E3%2582%25A2%25E3%2581%25AE%25E3%2581%25A4%25E3%2581%258F%25E3%2582%258A%25E6%2596%25B9%26qid%3D1663919683%26sprefix%3Dbecoming%2Bsteve%2Bjobs%2Caps%2C777%26sr%3D8-1%26linkCode%3Dsl1%26tag%3D%26linkId%3Ddfdea247d36963d149f3f886621801d4%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-01@2x.jpg',
                    alt: 'アイデアのつくり方',
                    text: 'アイデアのつくり方'
                  },
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E3%2582%25A6%25E3%2582%25A7%25E3%2583%2596%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25E3%2581%25AE%25E6%2580%259D%25E8%2580%2583%25E6%25B3%2595-Business%25C3%2597Design%25C3%2597-%25E9%2587%2591-%25E6%2588%2590%25E5%25A5%258E%2Fdp%2F4839966907%3F__mk_ja_JP%3D%25E3%2582%25AB%25E3%2582%25BF%25E3%2582%25AB%25E3%2583%258A%26crid%3D10KJRXG4KTHQZ%26keywords%3D%25E3%2582%25A6%25E3%2582%25A7%25E3%2583%2596%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25E3%2581%25AE%25E6%2580%259D%25E8%2580%2583%25E6%25B3%2595%2B(Business%25C3%2597Design%25C3%2597IT)%26qid%3D1663919776%26sprefix%3D%25E3%2582%25A6%25E3%2582%25A7%25E3%2583%2596%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25E3%2581%25AE%25E6%2580%259D%25E8%2580%2583%25E6%25B3%2595%2Bbusiness%2Bdesign%2Bit%2B%2Caps%2C214%26sr%3D8-1%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3Dd85ae7c487f6151f92bd7c66f95152ee%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-02@2x.jpg',
                    alt: 'ウェブデザインの思考法 (Business×Design×IT)',
                    text: 'ウェブデザインの思考法 (Business×Design×IT) '
                  },
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E3%2582%25AA%25E3%2583%25B3%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3-%25E3%2582%25BF%25E3%2582%25A4%25E3%2583%259D%25E3%2582%25B0%25E3%2583%25A9%25E3%2583%2595%25E3%2582%25A3-%25E4%25BA%258B%25E4%25BE%258B%25E3%2581%25A8%25E8%25AB%2596%25E8%25AA%25AC%25E3%2581%258B%25E3%2582%2589%25E8%2580%2583%25E3%2581%2588%25E3%2582%258B%25E3%2582%25A6%25E3%2582%25A7%25E3%2583%2596%25E3%2581%25AE%25E6%2596%2587%25E5%25AD%2597%25E8%25A1%25A8%25E7%258F%25BE-%25E4%25BC%258A%25E8%2597%25A4%25E5%25BA%2584%25E5%25B9%25B3%2Fdp%2F4802512074%3F__mk_ja_JP%3D%25E3%2582%25AB%25E3%2582%25BF%25E3%2582%25AB%25E3%2583%258A%26crid%3DC64OYEYWI8BU%26keywords%3D%25E3%2582%25AA%25E3%2583%25B3%25E3%2582%25B9%25E3%2582%25AF%25E3%2583%25AA%25E3%2583%25BC%25E3%2583%25B3%25E3%2582%25BF%25E3%2582%25A4%25E3%2583%259D%25E3%2582%25B0%25E3%2583%25A9%25E3%2583%2595%25E3%2582%25A3%2B%25E4%25BA%258B%25E4%25BE%258B%25E3%2581%25A8%25E8%25AB%2596%25E8%25AA%25AC%25E3%2581%258B%25E3%2582%2589%25E8%2580%2583%25E3%2581%2588%25E3%2582%258B%25E3%2582%25A6%25E3%2582%25A7%25E3%2583%2596%25E3%2581%25AE%25E6%2596%2587%25E5%25AD%2597%25E8%25A1%25A8%25E7%258F%25BE%26qid%3D1663919812%26sprefix%3D%25E3%2582%25A6%25E3%2582%25A7%25E3%2583%2596%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25E3%2581%25AE%25E6%2580%259D%25E8%2580%2583%25E6%25B3%2595%2Bbusiness%2Bdesign%2Bit%2B%2Caps%2C285%26sr%3D8-1%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3Db41fea10c14b772e3527306d30c9997d%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-03@2x.jpg',
                    alt: 'オンスクリーンタイポグラフィ 事例と論説から考えるウェブの文字表現',
                    text: 'オンスクリーンタイポグラフィ 事例と論説から考えるウェブの文字表現'
                  },
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E6%25AC%25A7%25E6%2596%2587%25E6%259B%25B8%25E4%25BD%2593%25E2%2580%2595%25E3%2581%259D%25E3%2581%25AE%25E8%2583%258C%25E6%2599%25AF%25E3%2581%25A8%25E4%25BD%25BF%25E3%2581%2584%25E6%2596%25B9-%25E6%2596%25B0%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25E3%2582%25AC%25E3%2582%25A4%25E3%2583%2589-%25E5%25B0%258F%25E6%259E%2597-%25E7%25AB%25A0%2Fdp%2F4568502772%3F__mk_ja_JP%3D%25E3%2582%25AB%25E3%2582%25BF%25E3%2582%25AB%25E3%2583%258A%26crid%3D343K6BXW7AGT0%26keywords%3D%25E6%25AC%25A7%25E6%2596%2587%25E6%259B%25B8%25E4%25BD%2593%25E2%2580%2595%25E3%2581%259D%25E3%2581%25AE%25E8%2583%258C%25E6%2599%25AF%25E3%2581%25A8%25E4%25BD%25BF%25E3%2581%2584%25E6%2596%25B9%26qid%3D1663919945%26sprefix%3D%25E6%25AC%25A7%25E6%2596%2587%25E6%259B%25B8%25E4%25BD%2593%2B%25E3%2581%259D%25E3%2581%25AE%25E8%2583%258C%25E6%2599%25AF%25E3%2581%25A8%25E4%25BD%25BF%25E3%2581%2584%25E6%2596%25B9%2Caps%2C308%26sr%3D8-1%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3D1597172a0419422ccc428ecaf6071580%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-04@2x.jpg',
                    alt: '欧文書体―その背景と使い方',
                    text: '欧文書体―その背景と使い方'
                  },                  
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E3%2583%2587%25E3%2582%25A3%25E3%2583%2586%25E3%2583%25BC%25E3%2583%25AB%25E3%2583%25BB%25E3%2582%25A4%25E3%2583%25B3%25E3%2583%25BB%25E3%2582%25BF%25E3%2582%25A4%25E3%2583%259D%25E3%2582%25B0%25E3%2583%25A9%25E3%2583%2595%25E3%2582%25A3-%25E8%25AA%25AD%25E3%2581%25BF%25E3%2582%2584%25E3%2581%2599%25E3%2581%2584%25E6%25AC%25A7%25E6%2596%2587%25E7%25B5%2584%25E7%2589%2588%25E3%2581%25AE%25E3%2581%259F%25E3%2582%2581%25E3%2581%25AE%25E5%259F%25BA%25E7%25A4%258E%25E7%259F%25A5%25E8%25AD%2598%25E3%2581%25A8%25E8%2580%2583%25E3%2581%2588%25E6%2596%25B9-%25E3%2583%25A8%25E3%2583%25BC%25E3%2582%25B9%25E3%2583%2588%25E3%2583%25BB%25E3%2583%259B%25E3%2583%2595%25E3%2583%25AA%2Fdp%2F477387001X%3F__mk_ja_JP%3D%25E3%2582%25AB%25E3%2582%25BF%25E3%2582%25AB%25E3%2583%258A%26crid%3D3HIJRAJZS6L0Z%26keywords%3D%25E3%2583%2587%25E3%2582%25A3%25E3%2583%2586%25E3%2583%25BC%25E3%2583%25AB%25E3%2583%25BB%25E3%2582%25A4%25E3%2583%25B3%25E3%2583%25BB%25E3%2582%25BF%25E3%2582%25A4%25E3%2583%259D%25E3%2582%25B0%25E3%2583%25A9%25E3%2583%2595%25E3%2582%25A3%2B%25E8%25AA%25AD%25E3%2581%25BF%25E3%2582%2584%25E3%2581%2599%25E3%2581%2584%25E6%25AC%25A7%25E6%2596%2587%25E7%25B5%2584%25E7%2589%2588%25E3%2581%25AE%25E3%2581%259F%25E3%2582%2581%25E3%2581%25AE%25E5%259F%25BA%25E7%25A4%258E%25E7%259F%25A5%25E8%25AD%2598%25E3%2581%25A8%25E8%2580%2583%25E3%2581%2588%25E6%2596%25B9%26qid%3D1663920032%26sprefix%3D%25E3%2583%2587%25E3%2582%25A3%25E3%2583%2586%25E3%2583%25BC%25E3%2583%25AB%2B%25E3%2582%25A4%25E3%2583%25B3%2B%25E3%2582%25BF%25E3%2582%25A4%25E3%2583%259D%25E3%2582%25B0%25E3%2583%25A9%25E3%2583%2595%25E3%2582%25A3%2B%25E8%25AA%25AD%25E3%2581%25BF%25E3%2582%2584%25E3%2581%2599%25E3%2581%2584%25E6%25AC%25A7%25E6%2596%2587%25E7%25B5%2584%25E7%2589%2588%25E3%2581%25AE%25E3%2581%259F%25E3%2582%2581%25E3%2581%25AE%25E5%259F%25BA%25E7%25A4%258E%25E7%259F%25A5%25E8%25AD%2598%25E3%2581%25A8%25E8%2580%2583%25E3%2581%2588%25E6%2596%25B9%2Caps%2C206%26sr%3D8-1%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3D0ae7463416c49d5351ab3c245218aeb2%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-05@2x.jpg',
                    alt: 'ディテール・イン・タイポグラフィ 読みやすい欧文組版のための基礎知識と考え方',
                    text: 'ディテール・イン・タイポグラフィ 読みやすい欧文組版のための基礎知識と考え方'
                  },                  
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2FUX%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25E3%2581%25AE%25E6%2595%2599%25E7%25A7%2591%25E6%259B%25B8-%25E5%25AE%2589%25E8%2597%25A4-%25E6%2598%258C%25E4%25B9%259F%2Fdp%2F4621300377%3F__mk_ja_JP%3D%25E3%2582%25AB%25E3%2582%25BF%25E3%2582%25AB%25E3%2583%258A%26crid%3D27XNJLVGN0UH%26keywords%3DUX%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25E3%2581%25AE%25E6%2595%2599%25E7%25A7%2591%25E6%259B%25B8%26qid%3D1663920082%26sprefix%3Dux%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25E3%2581%25AE%25E6%2595%2599%25E7%25A7%2591%25E6%259B%25B8%2Caps%2C163%26sr%3D8-1m%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3D28840ff1ef57f7f6b76eddcbc4691837%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-06@2x.jpg',
                    alt: 'UXデザインの教科書',
                    text: 'UXデザインの教科書'
                  },        
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E8%259E%258D%25E3%2581%2591%25E3%2582%258B%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3-%25E2%2580%2595%25E3%2583%258F%25E3%2583%25BC%25E3%2583%2589%25C3%2597%25E3%2582%25BD%25E3%2583%2595%25E3%2583%2588%25C3%2597%25E3%2583%258D%25E3%2583%2583%25E3%2583%2588%25E6%2599%2582%25E4%25BB%25A3%25E3%2581%25AE%25E6%2596%25B0%25E3%2581%259F%25E3%2581%25AA%25E8%25A8%25AD%25E8%25A8%2588%25E8%25AB%2596-%25E6%25B8%25A1%25E9%2582%258A%25E6%2581%25B5%25E5%25A4%25AA%2Fdp%2F4861009383%3Fkeywords%3D%25E8%259E%258D%25E3%2581%2591%25E3%2582%258B%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%2B%25E3%2583%258F%25E3%2583%25BC%25E3%2583%2589%2B%25E3%2582%25BD%25E3%2583%2595%25E3%2583%2588%2B%25E3%2583%258D%25E3%2583%2583%25E3%2583%2588%25E6%2599%2582%25E4%25BB%25A3%25E3%2581%25AE%25E6%2596%25B0%25E3%2581%259F%25E3%2581%25AA%25E8%25A8%25AD%25E8%25A8%2588%25E8%25AB%2596%26qid%3D1663920921%26sprefix%3D%25E8%259E%258D%25E3%2581%2591%25E3%2582%258B%2Caps%2C224%26sr%3D8-1%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3D109473e63704d63592350cd4917ce43b%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-07@2x.jpg',
                    alt: '融けるデザイン ―ハード×ソフト×ネット時代の新たな設計論',
                    text: '融けるデザイン ―ハード×ソフト×ネット時代の新たな設計論'
                  },         
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E3%2581%25AF%25E3%2581%2598%25E3%2582%2581%25E3%2581%25A6%25E3%2581%25AEUI%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3-%25E6%2594%25B9%25E8%25A8%2582%25E7%2589%2588-%25E6%25B1%25A0%25E7%2594%25B0-%25E6%258B%2593%25E5%258F%25B8-ebook%2Fdp%2FB087BMJ1Q6%3Fkeywords%3D%25E3%2581%25AF%25E3%2581%2598%25E3%2582%2581%25E3%2581%25A6%25E3%2581%25AEui%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%26qid%3D1663920600%26sprefix%3D%25E3%2581%25AF%25E3%2581%2598%25E3%2582%2581%25E3%2581%25A6%25E3%2581%25AEUI%2Caps%2C254%26sr%3D8-1%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3D2ebd66848d9a2da00bd3a7d94c636956%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-08@2x.jpg',
                    alt: 'はじめてのUIデザイン 改訂版',
                    text: 'はじめてのUIデザイン 改訂版'
                  },   
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2FUI%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25E3%2581%25AE%25E6%2595%2599%25E7%25A7%2591%25E6%259B%25B8%25EF%25BC%25BB%25E6%2596%25B0%25E7%2589%2588%25EF%25BC%25BD-%25E3%2583%259E%25E3%2583%25AB%25E3%2583%2581%25E3%2583%2587%25E3%2583%2590%25E3%2582%25A4%25E3%2582%25B9%25E6%2599%2582%25E4%25BB%25A3%25E3%2581%25AE%25E3%2582%25A4%25E3%2583%25B3%25E3%2582%25BF%25E3%2583%25BC%25E3%2583%2595%25E3%2582%25A7%25E3%2583%25BC%25E3%2582%25B9%25E8%25A8%25AD%25E8%25A8%2588-%25E5%258E%259F%25E7%2594%25B0-%25E7%25A7%2580%25E5%258F%25B8%2Fdp%2F4798155454%3Fcrid%3D23EJM1OJOFKI%26keywords%3Dui%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25E3%2581%25AE%25E6%2595%2599%25E7%25A7%2591%25E6%259B%25B8%26qid%3D1663920686%26sprefix%3Dui%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25E3%2581%25AE%2Caps%2C256%26sr%3D8-1%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3D0901fa99d39d4704ac956a1abdd33ac1%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-09@2x.jpg',
                    alt: 'UIデザインの教科書［新版］ マルチデバイス時代のインターフェース設計',
                    text: 'UIデザインの教科書［新版］ マルチデバイス時代のインターフェース設計'
                  },   
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E3%2580%2590%25E6%2596%25B0%25E7%2589%2588%25E3%2580%2591UI-GRAPHICS-%25E6%2588%2590%25E5%258A%259F%25E4%25BA%258B%25E4%25BE%258B%25E3%2581%25A8%25E6%2580%259D%25E6%2583%25B3%25E3%2581%258B%25E3%2582%2589%25E5%25AD%25A6%25E3%2581%25B6%25E3%2580%2581%25E3%2581%2593%25E3%2582%258C%25E3%2581%258B%25E3%2582%2589%25E3%2581%25AE%25E3%2582%25A4%25E3%2583%25B3%25E3%2582%25BF%25E3%2583%25BC%25E3%2583%2595%25E3%2582%25A7%25E3%2582%25A4%25E3%2582%25B9%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25E3%2581%25A8UX-%25E5%25AE%2589%25E8%2597%25A4%25E5%2589%259B%2Fdp%2F4802511051%3Fkeywords%3Dui%2Bgraphics%26qid%3D1663921173%26sprefix%3DUI%2Bgra%2Caps%2C213%26sr%3D8-1%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3D8a97096486da06e4069ba4f7203feff1%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-10@2x.jpg',
                    alt: '【新版】UI GRAPHICS 成功事例と思想から学ぶ、これからのインターフェイスデザインとUX',
                    text: '【新版】UI GRAPHICS 成功事例と思想から学ぶ、これからのインターフェイスデザインとUX'
                  },   
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2FDesign-Systems-%25E2%2580%2595%25E3%2583%2587%25E3%2582%25B8%25E3%2582%25BF%25E3%2583%25AB%25E3%2583%2597%25E3%2583%25AD%25E3%2583%2580%25E3%2582%25AF%25E3%2583%2588%25E3%2581%25AE%25E3%2581%259F%25E3%2582%2581%25E3%2581%25AE%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25E3%2582%25B7%25E3%2582%25B9%25E3%2583%2586%25E3%2583%25A0%25E5%25AE%259F%25E8%25B7%25B5%25E3%2582%25AC%25E3%2582%25A4%25E3%2583%2589-Alla-Kholmatova-ebook%2Fdp%2FB07PTXXK1S%3Fkeywords%3Ddesign%2Bsystems%2B%25E3%2583%2587%25E3%2582%25B8%25E3%2582%25BF%25E3%2583%25AB%25E3%2583%2597%25E3%2583%25AD%25E3%2583%2580%25E3%2582%25AF%25E3%2583%2588%25E3%2581%25AE%25E3%2581%259F%25E3%2582%2581%25E3%2581%25AE%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25E3%2582%25B7%25E3%2582%25B9%25E3%2583%2586%25E3%2583%25A0%25E5%25AE%259F%25E8%25B7%25B5%25E3%2582%25AC%25E3%2582%25A4%25E3%2583%2589%26qid%3D1663921219%26sprefix%3Ddesign%2Bsy%2Caps%2C250%26sr%3D8-1%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3Dd5241ef04102b3f57427b08d60a16a91%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-11@2x.jpg',
                    alt: 'Design Systems ―デジタルプロダクトのためのデザインシステム実践ガイド',
                    text: 'Design Systems ―デジタルプロダクトのためのデザインシステム実践ガイド'
                  },   
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E6%25AC%25A7%25E6%2596%2587%25E6%259B%25B8%25E4%25BD%2593-2-%25E5%25AE%259A%25E7%2595%25AA%25E6%259B%25B8%25E4%25BD%2593%25E3%2581%25A8%25E6%25BC%2594%25E5%2587%25BA%25E6%25B3%2595-%25E3%2582%25BF%25E3%2582%25A4%25E3%2583%259D%25E3%2582%25B0%25E3%2583%25A9%25E3%2583%2595%25E3%2582%25A3%25E3%2581%25AE%25E5%259F%25BA%25E6%259C%25ACBOOK-%25E5%25B0%258F%25E6%259E%2597%2Fdp%2F4568503647%3F__mk_ja_JP%3D%25E3%2582%25AB%25E3%2582%25BF%25E3%2582%25AB%25E3%2583%258A%26crid%3D3UYLM4Q9MCJUJ%26keywords%3D%25E6%25AC%25A7%25E6%2596%2587%25E6%259B%25B8%25E4%25BD%2593%26qid%3D1663921326%26sprefix%3D%25E6%25AC%25A7%25E6%2596%2587%25E6%259B%25B8%25E4%25BD%2593%2Caps%2C199%26sr%3D8-4%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3Db5821e9be63a1e600a765bbf36cbe606%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-12@2x.jpg',
                    alt: '欧文書体 2 定番書体と演出法 (タイポグラフィの基本BOOK)',
                    text: '欧文書体 2 定番書体と演出法 (タイポグラフィの基本BOOK)'
                  },   
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E6%25AC%25A7%25E6%2596%2587%25E6%259B%25B8%25E4%25BD%2593%25E3%2581%25AE%25E3%2581%25A4%25E3%2581%258F%25E3%2582%258A%25E6%2596%25B9-%25E7%25BE%258E%25E3%2581%2597%25E3%2581%2584%25E3%2582%25AB%25E3%2583%25BC%25E3%2583%2596%25E3%2581%25A8%25E5%25BF%2583%25E5%259C%25B0%25E3%2582%2588%25E3%2581%2584%25E5%25AD%2597%25E4%25B8%25A6%25E3%2581%25B3%25E3%2581%25AE%25E3%2581%259F%25E3%2582%2581%25E3%2581%25AB-000%25E5%2586%2586-%25E7%25A8%258E%25E3%2580%2581Book-Design%2Fdp%2F4909718044%3F__mk_ja_JP%3D%25E3%2582%25AB%25E3%2582%25BF%25E3%2582%25AB%25E3%2583%258A%26crid%3D3UYLM4Q9MCJUJ%26keywords%3D%25E6%25AC%25A7%25E6%2596%2587%25E6%259B%25B8%25E4%25BD%2593%26qid%3D1663921326%26sprefix%3D%25E6%25AC%25A7%25E6%2596%2587%25E6%259B%25B8%25E4%25BD%2593%2Caps%2C199%26sr%3D8-2%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3D142ad4989d5241f45631b4ca493a9373%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-13@2x.jpg',
                    alt: '欧文書体のつくり方 美しいカーブと心地よい字並びのために',
                    text: '欧文書体のつくり方 美しいカーブと心地よい字並びのために'
                  },   
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E3%2583%25AC%25E3%2582%25BF%25E3%2583%25BC%25E3%2582%25B9%25E3%2583%259A%25E3%2583%25BC%25E3%2582%25B7%25E3%2583%25B3%25E3%2582%25B0-%25E3%2582%25BF%25E3%2582%25A4%25E3%2583%259D%25E3%2582%25B0%25E3%2583%25A9%25E3%2583%2595%25E3%2582%25A3%25E3%2581%25AB%25E3%2581%258A%25E3%2581%2591%25E3%2582%258B%25E6%2596%2587%25E5%25AD%2597%25E9%2596%2593%25E8%25AA%25BF%25E6%2595%25B4%25E3%2581%25AE%25E8%2580%2583%25E3%2581%2588%25E6%2596%25B9-%25E4%25BB%258A%25E5%25B8%2582%25E9%2581%2594%25E4%25B9%259F%2Fdp%2F4802512090%3F__mk_ja_JP%3D%25E3%2582%25AB%25E3%2582%25BF%25E3%2582%25AB%25E3%2583%258A%26crid%3D31J5W516UCCJA%26keywords%3D%25E3%2583%25AC%25E3%2582%25BF%25E3%2583%25BC%25E3%2582%25B9%25E3%2583%259A%25E3%2583%25BC%25E3%2582%25B7%25E3%2583%25B3%25E3%2582%25B0%26qid%3D1663921609%26sprefix%3D%25E3%2583%25AC%25E3%2582%25BF%25E3%2583%25BC%25E3%2582%25B9%25E3%2583%259A%25E3%2583%25BC%25E3%2582%25B7%25E3%2583%25B3%25E3%2582%25B0%2Caps%2C207%26sr%3D8-1%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3Dadb2f1b932ca4274201baefeee5837b4%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-14@2x.jpg',
                    alt: 'レタースペーシング タイポグラフィにおける文字間調整の考え方',
                    text: 'レタースペーシング タイポグラフィにおける文字間調整の考え方'
                  },   
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E6%2597%25A5%25E6%259C%25AC%25E8%25AA%259E%25E7%25B5%2584%25E7%2589%2588%25E5%2585%25A5%25E9%2596%2580-%25E3%2581%259D%25E3%2581%25AE%25E6%25A7%258B%25E9%2580%25A0%25E3%2581%25A8%25E3%2582%25A2%25E3%2583%25AB%25E3%2582%25B4%25E3%2583%25AA%25E3%2582%25BA%25E3%2583%25A0-%25E5%2590%2591%25E4%25BA%2595-%25E8%25A3%2595%25E4%25B8%2580%2Fdp%2F4416618689%3Fkeywords%3D%25E6%2597%25A5%25E6%259C%25AC%25E8%25AA%259E%25E7%25B5%2584%25E7%2589%2588%25E5%2585%25A5%25E9%2596%2580%26qid%3D1663921657%26sprefix%3D%25E6%2597%25A5%25E6%259C%25AC%25E8%25AA%259E%25E7%25B5%2584%25E7%2589%2588%2Caps%2C213%26sr%3D8-1%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3D287b4bb53e373f2c28cb9942adf3e038%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-15@2x.jpg',
                    alt: '日本語組版入門: その構造とアルゴリズム',
                    text: '日本語組版入門: その構造とアルゴリズム'
                  },   
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E6%2597%25A5%25E6%259C%25AC%25E8%25AA%259E%25E7%25B5%2584%25E7%2589%2588%25E5%2585%25A5%25E9%2596%2580-%25E3%2581%259D%25E3%2581%25AE%25E6%25A7%258B%25E9%2580%25A0%25E3%2581%25A8%25E3%2582%25A2%25E3%2583%25AB%25E3%2582%25B4%25E3%2583%25AA%25E3%2582%25BA%25E3%2583%25A0-%25E5%2590%2591%25E4%25BA%2595-%25E8%25A3%2595%25E4%25B8%2580%2Fdp%2F4416618689%3Fkeywords%3D%25E6%2597%25A5%25E6%259C%25AC%25E8%25AA%259E%25E7%25B5%2584%25E7%2589%2588%25E5%2585%25A5%25E9%2596%2580%26qid%3D1663921657%26sprefix%3D%25E6%2597%25A5%25E6%259C%25AC%25E8%25AA%259E%25E7%25B5%2584%25E7%2589%2588%2Caps%2C213%26sr%3D8-1%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3D287b4bb53e373f2c28cb9942adf3e038%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-16@2x.jpg',
                    alt: 'タイポグラフィの基本ルール ―プロに学ぶ、一生枯れない永久不滅テクニック―［デザインラボ］',
                    text: 'タイポグラフィの基本ルール ―プロに学ぶ、一生枯れない永久不滅テクニック―［デザインラボ］'
                  },   
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E3%2582%25B9%25E3%2583%2586%25E3%2582%25A3%25E3%2583%25BC%25E3%2583%2596%25E3%2583%25BB%25E3%2582%25B8%25E3%2583%25A7%25E3%2583%2596%25E3%2582%25BA-I-%25E3%2582%25A6%25E3%2582%25A9%25E3%2583%25AB%25E3%2582%25BF%25E3%2583%25BC%25E3%2583%25BB%25E3%2582%25A2%25E3%2582%25A4%25E3%2582%25B6%25E3%2583%2583%25E3%2582%25AF%25E3%2582%25BD%25E3%2583%25B3-ebook%2Fdp%2FB009GXM2AS%3F__mk_ja_JP%3D%25E3%2582%25AB%25E3%2582%25BF%25E3%2582%25AB%25E3%2583%258A%26crid%3D15MI7YX5F5WP6%26keywords%3D%25E3%2582%25B9%25E3%2583%2586%25E3%2582%25A3%25E3%2583%25BC%25E3%2583%2596%2B%25E3%2582%25B8%25E3%2583%25A7%25E3%2583%2596%25E3%2582%25BA%26qid%3D1663921750%26sprefix%3D%25E3%2582%25B9%25E3%2583%2586%25E3%2582%25A3%25E3%2583%25BC%25E3%2583%2596%2B%25E3%2582%25B8%25E3%2583%25A7%25E3%2583%2596%25E3%2582%25BA%2Caps%2C212%26sr%3D8-2%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3Dca95c507dbb0b859631f5df461eef188%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-17@2x.jpg',
                    alt: 'スティーブ・ジョブズ　I',
                    text: 'スティーブ・ジョブズ　I'
                  },   
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2Fgp%2Fproduct%2FB009GXM2OE%3FstoreType%3Debooks%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3Df69740b749874c327163e4de25d061d8%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-18@2x.jpg',
                    alt: 'スティーブ・ジョブズ　II',
                    text: 'スティーブ・ジョブズ　II'
                  },   
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E3%2582%25B9%25E3%2583%2586%25E3%2582%25A3%25E3%2583%25BC%25E3%2583%2596%25E3%2583%25BB%25E3%2582%25B8%25E3%2583%25A7%25E3%2583%2596%25E3%2582%25BA-%25E9%25A9%259A%25E7%2595%25B0%25E3%2581%25AE%25E3%2583%2597%25E3%2583%25AC%25E3%2582%25BC%25E3%2583%25B3-%25E3%2582%25AB%25E3%2583%25BC%25E3%2583%259E%25E3%2582%25A4%25E3%2583%25B3%25E3%2583%25BB%25E3%2582%25AC%25E3%2583%25AD%2Fdp%2F482224816X%3F__mk_ja_JP%3D%25E3%2582%25AB%25E3%2582%25BF%25E3%2582%25AB%25E3%2583%258A%26crid%3D15MI7YX5F5WP6%26keywords%3D%25E3%2582%25B9%25E3%2583%2586%25E3%2582%25A3%25E3%2583%25BC%25E3%2583%2596%2B%25E3%2582%25B8%25E3%2583%25A7%25E3%2583%2596%25E3%2582%25BA%26qid%3D1663921750%26sprefix%3D%25E3%2582%25B9%25E3%2583%2586%25E3%2582%25A3%25E3%2583%25BC%25E3%2583%2596%2B%25E3%2582%25B8%25E3%2583%25A7%25E3%2583%2596%25E3%2582%25BA%2Caps%2C212%26sr%3D8-25%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3Da049ab7b46c7e28a30c17b0b34263ed5%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-19@2x.jpg',
                    alt: 'スティーブ・ジョブズ 驚異のプレゼン',
                    text: 'スティーブ・ジョブズ 驚異のプレゼン'
                  },   
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E3%2582%25B9%25E3%2583%2586%25E3%2582%25A3%25E3%2583%25BC%25E3%2583%2596%25E3%2583%25BB%25E3%2582%25B8%25E3%2583%25A7%25E3%2583%2596%25E3%2582%25BA-%25E9%25A9%259A%25E7%2595%25B0%25E3%2581%25AE%25E3%2582%25A4%25E3%2583%258E%25E3%2583%2599%25E3%2583%25BC%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%25B3-%25E3%2582%25AB%25E3%2583%25BC%25E3%2583%259E%25E3%2582%25A4%25E3%2583%25B3%25E3%2583%25BB%25E3%2582%25AC%25E3%2583%25AD%2Fdp%2F4822248569%3Fpd_rd_w%3Dl8Oth%26content-id%3Damzn1.sym.918446e7-72f4-48c7-a672-af3b6ace2b19%26pf_rd_p%3D918446e7-72f4-48c7-a672-af3b6ace2b19%26pf_rd_r%3DA8FVGBAYR6HY9RQBJZ2Q%26pd_rd_wg%3Daw7pu%26pd_rd_r%3Dcafd3b94-2c0b-4565-ab25-5d3db9adb55f%26pd_rd_i%3D4822248569%26psc%3D1%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3D8cc3742847e743b1b8cee9bcc1b6a448%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-20@2x.jpg',
                    alt: 'スティーブ・ジョブズ 驚異のイノベーション',
                    text: 'スティーブ・ジョブズ 驚異のイノベーション'
                  },   
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2FBecoming-Steve-%25E3%2583%2593%25E3%2582%25AB%25E3%2583%259F%25E3%2583%25B3%25E3%2582%25B0%25E3%2583%25BB%25E3%2582%25B9%25E3%2583%2586%25E3%2582%25A3%25E3%2583%25BC%25E3%2583%2596%25E3%2583%25BB%25E3%2582%25B8%25E3%2583%25A7%25E3%2583%2596%25E3%2582%25BA-%25E3%2583%2593%25E3%2582%25B8%25E3%2583%25A7%25E3%2583%258A%25E3%2583%25AA%25E3%2583%25BC%25E3%2581%25B8%25E3%2581%25AE%25E6%2588%2590%25E9%2595%25B7%25E7%2589%25A9%25E8%25AA%259E-%25E6%2597%25A5%25E7%25B5%258C%25E3%2583%2593%25E3%2582%25B8%25E3%2583%258D%25E3%2582%25B9%25E4%25BA%25BA%25E6%2596%2587%25E5%25BA%25AB%2Fdp%2F4532198585%3Fcrid%3D2QTGNECX6XEH1%26keywords%3Dbecoming%2Bsteve%2Bjobs%26qid%3D1663921983%26sprefix%3Dbecom%2Caps%2C199%26sr%3D8-2%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3D35b0246d1439dae7aeff844d8d0d6481%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-21@2x.jpg',
                    alt: 'Becoming Steve Jobs 上: ビジョナリーへの成長物語',
                    text: 'Becoming Steve Jobs 上: ビジョナリーへの成長物語'
                  },   
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2FBecoming-Steve-%25E3%2583%2593%25E3%2582%25AB%25E3%2583%259F%25E3%2583%25B3%25E3%2582%25B0%25E3%2583%25BB%25E3%2582%25B9%25E3%2583%2586%25E3%2582%25A3%25E3%2583%25BC%25E3%2583%2596%25E3%2583%25BB%25E3%2582%25B8%25E3%2583%25A7%25E3%2583%2596%25E3%2582%25BA-%25E3%2583%2593%25E3%2582%25B8%25E3%2583%25A7%25E3%2583%258A%25E3%2583%25AA%25E3%2583%25BC%25E3%2581%25B8%25E3%2581%25AE%25E6%2588%2590%25E9%2595%25B7%25E7%2589%25A9%25E8%25AA%259E-%25E6%2597%25A5%25E7%25B5%258C%25E3%2583%2593%25E3%2582%25B8%25E3%2583%258D%25E3%2582%25B9%25E4%25BA%25BA%25E6%2596%2587%25E5%25BA%25AB%2Fdp%2F4532198593%3Fcrid%3D2QTGNECX6XEH1%26keywords%3Dbecoming%2Bsteve%2Bjobs%26qid%3D1663921983%26sprefix%3Dbecom%2Caps%2C199%26sr%3D8-3%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3D2b12eade21d4967ee90d2d369d466098%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-22@2x.jpg',
                    alt: 'Becoming Steve Jobs 下: ビジョナリーへの成長物語',
                    text: 'Becoming Steve Jobs 下: ビジョナリーへの成長物語'
                  },       
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E3%2582%25B9%25E3%2583%2586%25E3%2582%25A3%25E3%2583%25BC%25E3%2583%2596%25E3%2583%25BB%25E3%2582%25B8%25E3%2583%25A7%25E3%2583%2596%25E3%2582%25BA-%25E3%2582%25B0%25E3%2583%25A9%25E3%2583%2595%25E3%2582%25A3%25E3%2583%2583%25E3%2582%25AF%25E4%25BC%259D%25E8%25A8%2598-%25E3%2582%25B1%25E3%2583%25B4%25E3%2582%25A3%25E3%2583%25B3%25E3%2583%25BB%25E3%2583%25AA%25E3%2583%25B3%25E3%2583%2581%2Fdp%2F4408338230%3F__mk_ja_JP%3D%25E3%2582%25AB%25E3%2582%25BF%25E3%2582%25AB%25E3%2583%258A%26crid%3D15MI7YX5F5WP6%26keywords%3D%25E3%2582%25B9%25E3%2583%2586%25E3%2582%25A3%25E3%2583%25BC%25E3%2583%2596%2B%25E3%2582%25B8%25E3%2583%25A7%25E3%2583%2596%25E3%2582%25BA%26qid%3D1663921750%26sprefix%3D%25E3%2582%25B9%25E3%2583%2586%25E3%2582%25A3%25E3%2583%25BC%25E3%2583%2596%2B%25E3%2582%25B8%25E3%2583%25A7%25E3%2583%2596%25E3%2582%25BA%2Caps%2C212%26sr%3D8-26%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3D1209130b0d60adaa6d98c6cb3ba560ca%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-23@2x.jpg',
                    alt: 'スティーブ・ジョブズ グラフィック伝記',
                    text: 'スティーブ・ジョブズ グラフィック伝記'
                  },
                  {
                    link: '//af.moshimo.com/af/c/click?a_id=3592781&p_id=170&pc_id=185&pl_id=4062&url=https%3A%2F%2Fwww.amazon.co.jp%2F%25E8%25AA%25B0%25E3%2581%25AE%25E3%2581%259F%25E3%2582%2581%25E3%2581%25AE%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25EF%25BC%259F-%25E5%25A2%2597%25E8%25A3%259C%25E3%2583%25BB%25E6%2594%25B9%25E8%25A8%2582%25E7%2589%2588-%25E2%2580%2595%25E8%25AA%258D%25E7%259F%25A5%25E7%25A7%2591%25E5%25AD%25A6%25E8%2580%2585%25E3%2581%25AE%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%25E5%258E%259F%25E8%25AB%2596-D-%25E3%2583%258E%25E3%2583%25BC%25E3%2583%259E%25E3%2583%25B3%2Fdp%2F4788514346%3Fcrid%3D30IKS58BYG5YW%26keywords%3D%25E8%25AA%25B0%25E3%2581%25AE%25E3%2581%259F%25E3%2582%2581%25E3%2581%25AE%25E3%2583%2587%25E3%2582%25B6%25E3%2582%25A4%25E3%2583%25B3%26qid%3D1664587986%26qu%3DeyJxc2MiOiIxLjE4IiwicXNhIjoiMC42MSIsInFzcCI6IjAuODAifQ%253D%253D%26sprefix%3D%25E8%25AA%25B0%25E3%2581%25AE%25E3%2581%259F%25E3%2582%2581%25E3%2581%25AE%2Caps%2C355%26sr%3D8-1%26linkCode%3Dsl1%26tag%3Duiclip-22%26linkId%3D8fbcac2a124aed8cfd69d00a83ac05b6%26language%3Dja_JP%26ref_%3Das_li_ss_tl',
                    image: '/assets/books/item-books-24@2x.jpg',
                    alt: '誰のためのデザイン？　増補・改訂版　―認知科学者のデザイン原論',
                    text: '誰のためのデザイン？　増補・改訂版　―認知科学者のデザイン原論'
                  },     

                ]
              each item in list
                li.books-content__books-list-items
                  a.book-link(href=item.link target="_blank")
                    img.book-link__image(src=item.image alt=item.alt)
                    p.book-link__text #{item.text}

          //-　Bannerエリア
          //- .advertisement-area__banner
          //-   img.banner-add(src="/assets/common/add/banner-add-adobe.png" alt="広告")
          
    //- ページネーション
    //-.pagination
      .pagination__end
        a.pagination__link(href="")
          .pagination__back-ground
            img.pagination__image(src="/assets/common/icon-goto-first.svg" alt="一番前に戻る")
          
      .pagination__inside
        a.pagination__link(href="") 
          img.pagination__inside-image.is-back(src="/assets/common/icon-arrow.svg" alt="一番前に戻る")
          p.pagination__text 前へ

      .pagination__inside.is-next
        a.pagination__link(href="")
          p.pagination__text 次へ
          img.pagination__inside-image(src="/assets/common/icon-arrow.svg" alt="一番前に戻る")
          

      .pagination__end
        a.pagination__link(href="")
          .pagination__back-ground
            img.pagination__image.is-last-arrow(src="/assets/common/icon-goto-first.svg" alt="一番後ろに行く")          

    //- Googleアドセンス
    center
    script(async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6235916185768986' crossorigin='anonymous')
    // 横長
    ins.adsbygoogle(style='display:inline-block;width:728px;height:90px' data-ad-client='ca-pub-6235916185768986' data-ad-slot='5420764018')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});

    //- footer (SNS、コピーライト)
    //- script もfooterの中に記述 
    footer
      include ../include/_footer